# Airflow core
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

# Generate with: python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=

# Target Postgres
POSTGRES_DST_USER=
POSTGRES_DST_PASSWORD=
POSTGRES_DST_DB=
POSTGRES_DST_PORT=5433

# Specific paths/config used inside the DAG
SQLITE_SRC_PATH=/opt/airflow/data/northwind.db
POSTGRES_DEST_CONN=

# API keys
OPENWEATHER_API_KEY=